# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
config/.DS_Store
application/config/.DS_Store
data/*
bitnami-docker-etcd/docker-compose-cluster.yml
bitnami-docker-etcd/docker-compose.yml
bitnami-docker-etcd/LICENSE
bitnami-docker-etcd/README.md
bitnami-docker-etcd/3/debian-10/docker-compose.yml
bitnami-docker-etcd/3/debian-10/prebuildfs/opt/bitnami/licenses/licenses.txt
*/.DS_Store
.DS_Store
data-old/*
lockdata/*